@model Loca_ly.Models.Venue

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Venue</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenrePreference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenrePreference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoverCharge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoverCharge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxPay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxPay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GigTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GigTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AverageArtistRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AverageArtistRating)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
